* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

.container {
    height: 100vh;
    width: 100%;
    /* background-image: url(Image.jpg); */
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar{
    background-color: green;
    color: white;
    width: 100%;
    height: 7vh;
    padding-top: 8px;
    padding-left: 8px;
}


.form-box {
    width: 90%;
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: #fff;
    padding: 18px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 50px;
    color: #3c00a0;
    position: relative;
}


.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 178px;
    transform: translateX(-50%);
}

.input-field {
    border: solid 1px black;
    margin: 6px 0 ;
    border-radius:7px;
    display: flex;
    align-items: center;
    width: 82%;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    position: relative;
    right: 0px;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: #3c00a0;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    /* background: green; */
    /* color: #fff; */
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 1s;
}
.input-fl{
    display: flex;
    align-items: center;
}
.input-fl p{
    margin-right: 12px;
    width: 150px;
}

.forget{
    margin-top: 30px;
}

.input-field i {
    display: none;
}

.input-group {
    height: 400px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}


.btn-field button.active {
    background: green;
    color: #fff;
}
